@import './styles/animations';
@import './styles/interface';

body {
  font-family: 'acumin-pro', system-ui, sans-serif;
  margin: 0;
  height: 100vh;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.hidden {
  font-size: 0.1px;
  line-height: 0;
  position:absolute;
  height:0;
  width:0;
}

.logo-container

.logo-bar {
  fill: url(#gradient-fill) currentColor;
}


