@keyframes pulse {
  0%  { transform: rotateX(90deg); }
  75% { transform: rotateX(0deg);  }
}

.pulse .logo-bar {
  animation-name: pulse;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  transform-origin: center center;
}
